@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --background-color: #fff;
    --title-color: #000;
    --white-color: #fff;
    --black-color: #000;
    --red-color: red;
    --footer-color: #fff;
    --inside-background-color: rgb(252, 202, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    max-width: 1200%;
    background-color: var(--background-color);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 3rem;
}

.title {
    color: var(--title-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

[id] {
    scroll-margin-top: 4ex;
}

/******************************MENU******************************************/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--white-color);
    transition: all .5s ease-in-out;
    padding: 1rem .8rem;
}

header.abajo {
    background: var(--white-color);
    padding: .5rem .8rem;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 4rem;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: 2rem;
    font-weight: 600;
    width: max-content;
}

.nav__link {
    position: relative;
    color: var(--black-color);
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.15rem;
    left: 0;
    top: 2rem;
    background-color: var(--red-color);
}

.nav__logo {
    color: var(--black-color);
    font-size: 2rem;
    font-weight: bold;
}

.nav__toggle {
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--red-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*******************HERO**********************/
.hero-image {
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
}

.hero-image2 {
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}

.hero-image3 {
    width: 100%;
    height: 100vh;
    margin-bottom: 3rem;

}

/*****************RECOMMEND********************/
.recommend-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.gallery p {
    font-size: 1rem;
    cursor: pointer;
}

/************************************SUBSCRIBE****************************************/

.subscribe__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background-color: rgba(255, 0, 0, 0.829);
    color: var(--white-color);
}

.subscribe__section p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.subscribe__section form {
    display: flex;
    padding: .5rem 1rem;
}

.subscribe__section button {
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    padding: .5rem 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}

.subscribe__section button:hover {
    opacity: 0.75;
}

.contact__section {
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
}

/************************************SUBSCRIBE2****************************************/
.subscribe__section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background-color: var(--white-color);
    color: var(--black-color);
    margin-bottom: 3rem;
}

.subscribe__section2 p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.title-text {
    font-weight: bold;
}

.subscribe__section2 a {
    text-decoration: none;
    font-weight: bold;
    color: var(--red-color);
    transition: all .5s ease-in-out;
}

.subscribe__section2 a:hover {
    color: var(--black-color);
}

/*******************************INSIDE*******************************************/
.inside {
    background-color: var(--inside-background-color);
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inside-image-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.inside-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-text {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.btn-inside a {
    text-decoration: none;
    color: var(--black-color);
}

.btn-inside {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    background-color: var(--white-color);
    transition: all 0.5s ease-out;
}

.btn-inside:hover {
    opacity: 0.8;
}

/************************************FOOTER****************************************/

.footer {
    width: 100%;
    padding: 1rem;
    background-color: var(--footer-color);
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    text-decoration: none;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.box__footer .logo img {
    width: 50%;
    cursor: pointer;
}

.box__footer .logo a {
    text-decoration: none;
}

.box__footer h2 {
    margin-bottom: 1rem;
    color: var(--title-color);
}

.box__footer a {
    color: var(--black-color);
    text-decoration: none;
    padding: .5rem;
    transition: all .1s ease-out;
}

.box__footer a:hover {
    text-decoration: underline;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

/************************************RESPONSIVE****************************************/
@media screen and (max-width:1024px) {
    .hero-image {
        width: 100%;
        height: 100%;
    }

    .hero-image2 {
        width: 100%;
        height: 100%;
    }

    .hero-image3 {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:1000px) {
    .container__footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width:468px) {

    .recommend-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-1,
    .gallery-2 {
        margin-bottom: 3rem;
    }

    .subscribe__section {
        padding: 3rem;
    }

    .subscribe__section p {
        font-size: 1.5rem;
    }

    .shop-1,
    .shop-2 {
        margin-bottom: 2rem;
    }

    .subscribe__section2 {
        padding: 3rem;
    }

    .subscribe__section2 p {
        font-size: 1.5rem;
    }

    .hero-image2 {
        width: 100%;
        height: 100%;
    }

    .hero-image3 {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {

    .nav {
        height: calc(3rem + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
        margin-right: 2rem;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--black-color);
    }

}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px) {
    .inside-image-text {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .inside-img img {
        width: 100%;
        height: 100%;
    }
}